#ignore all files that are bigger than 100M
#find . -size +100M | cat >> .gitignore

.DS_Store
.idea
.idea/*

*.pyc
./*/*.pyc
./*/*/*.pyc
./*/*/*/*.pyc
./*/*/*/*/*.pyc
./*/*/*/*/*/*.pyc

*.log

logs
./*/logs
./*/*/logs
./*/*/*/logs
./*/*/*/*/logs
./*/*/*/*/*/logs

venv

*.txt
*.h5

# raw
*.rar
*.csv
*.dat
cifar-10-batches-py
*.tar.gz
*.png
*.zip
*.json

#big pkl files
*_big*.pkl
!/apps/experiments/logs/log_viewer.py
/apps/experiments/logs
/apps/experiments/logs/*
/apps/experiments/wandb
/apps/fed_ca/wandb
/datasets/pickles/mnist_10shards_100c_400mn_400mx.pkl
/datasets/pickles/mnist_2shards_70c_600mn_600mx.pkl
/datasets/pickles/femnist.pkl
/datasets/pickles/mnist.pkl
/datasets/pickles/cars.pkl
/datasets/preprocess/umdaa02fd/umdaa02_fd_filtered_tmp.pkl

#raw datasets
/datasets/raw/femnist/fed_emnist_train.h5
/datasets/raw/femnist/fed_emnist_test.h5
/datasets/raw/kdd/KDDTest+.arff
/datasets/raw/kdd/KDDTrain+.arff
/datasets/raw/shakespeare/shakespeare_all_data.json
/datasets/raw/cars/a1/
/datasets/raw/cars/a2/
/datasets/raw/cars/a3/
/datasets/raw/cars/a4/
/datasets/raw/cars/a5/
/datasets/raw/cars/a6/
/datasets/raw/cars/a7/
/datasets/raw/cars/a8/
/datasets/raw
/checkpoints/

/src/manifest.py
