.DS_Store
.idea
.idea/*

*.pyc
./*/*.pyc
./*/*/*.pyc
./*/*/*/*.pyc
./*/*/*/*/*.pyc
./*/*/*/*/*/*.pyc

*.log

logs
./*/logs
./*/*/logs
./*/*/*/logs
./*/*/*/*/logs
./*/*/*/*/*/logs

venv

*.txt
*.h5

# data
*.rar
*.csv
*.dat
cifar-10-batches-py
*.tar.gz
*.png
*.zip
*.json

#big pkl files
*_big*.pkl

./datasets/preprocess/data
./experiments/logs
./experiments/logs/*
./experiments/wandb
./experiments/nogit
/experiments/wandb/
