scikit-learn
numpy
h5py
setproctitle
networkx
psutil
mysql-connector-python
matplotlib
-f https://download.pytorch.org/whl/torch_stable.html
torch
-f https://download.pytorch.org/whl/torch_stable.html
torchvision
-f https://download.pytorch.org/whl/torch_stable.html
torchaudio